body {
    background-color: #000;
}

.pixel {
    width: 10pt;
    height: 10pt;
    background-color: #e3e3e3;
    display: inline-block;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pixel-row {
    font-size: 0;
}